
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.header-style {
  background-color: #385167;
  min-height: 8vh;
  /*display: flex;*/
  /*flex-direction: row;*/
  font-size: calc(10px + 2vmin);
  color: white;
  /*position: fixed;*/
  /*z-index: 1;*/
  /*width: 100%;*/
  /*top: 0;*/
  /*left: 0;*/
  padding: 10px 20px;
  margin: 0 auto;
}

.ui.checkbox label, .ui.checkbox+label {
  color: rgba(255, 243, 215, 0.87);
}

  /*.title, .navbar, .toggle-label {*/
/*  color: inherit;*/
/*  margin-left: 10px;*/
/*  font-weight: 700;*/
/*  font-size: 20px;*/
/*  line-height: 20px;*/
/*}*/

/*.navbar {*/
/*  flex-grow: 2;*/
/*  justify-content: left;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  overflow-x: auto;*/
/*  overflow-y: hidden;*/
/*  height: 100%;*/
/*}*/

/*.toggle {*/
/*  flex-grow: 1;*/
/*}*/

/*.nav-item {*/
/*  padding: 10px 20px;*/
/*}*/
/*@media (min-width: 600px) {*/
/*  .nav-item {*/
/*    position: relative;*/
/*  }*/
/*}*/

/*.container {*/
/*  position: relative;*/
/*  max-width: 800px;*/
/*  margin: 55px auto 0 auto;*/
/*  background: #fff;*/
/*  border-radius: 3px;*/
/*}*/

.quiz {
  position: relative;
  /*max-width: 800px;*/
  /*!*margin: 55px auto 0 auto;*!*/
  /*background: #f00;*/
  border-radius: 3px;
}




/* Quiz Component */
.answerOptions {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

/* QuestionCount Component */
.questionCount, .score {
  padding: 1.5rem 2.5rem 0;
  font-size: 14px;
}

/* Question Component */
.question {
  margin: 0;
  padding: 0.5rem 2.5rem 1.5rem 2.5rem;
  font-size: large;
  font-weight: bold;
  text-align: left;
}

/* Result Component */
.result {
  margin: 0;
  padding: 0.5rem 2.5rem 1.5rem 2.5rem;
  font-size: large;
  font-weight: bold;
  text-align: left;

}

.review {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  position: relative;
  width: 100%;
}

/* Question Review Component */
.questionsReview {
  margin: 0;
  padding: 1.5rem 2.5rem 1.5rem 5rem;
  font-size: 16px;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

/* Radio Button Options */
.radioCustomButton {
  position: absolute;
  width: auto;
  opacity: 0;
}

.radioCustomButton,
.radioCustomLabel {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.radioCustomLabel
 {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 1.5rem 2.5rem 1.5rem 5rem;
  font-size: 16px;
  line-height: 1.5;
}

.hidden {
  display: none;
}

.answerSelection {
  margin: 0;
  padding: 1.5rem 2.5rem 1.5rem 5rem;
  font-size: 16px;
  line-height: 1.5;
}

.answerSelection {
  vertical-align: middle;
  cursor: pointer;
}

.answerIcon {
  margin-left: -28px;
  position: relative;
  left: -28px;
  width: 28px;
  height: 28px;
  vertical-align: middle;
  border-radius: 50%;
  transition: all 0.3s;
  background-size: 27px;
}

.iconCheck {
  background: #8bc53f url(./svg/icon-check.svg) no-repeat;
  border-color: #8bc53f;
}

.iconX {
  background: #F54321 url(./svg/icon-x.svg) no-repeat;
  border-color: #F54321;
}

.radioCustomButton ~ .radioCustomLabel:before
 {
  position: absolute;
  top: 20px;
  left: 38px;
  width: 28px;
  height: 28px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 50%;
  transition: all 0.3s;
}

.radioCustomButton:checked ~ .radioCustomLabel:before {
  content: '';
  background: #8bc53f url(./svg/icon-check.svg) no-repeat;
  background-size: 27px;
  border-color: #8bc53f;
}

/* Controls Component */
.controls {
  border-top: 1px solid #eee;
  padding-top: 20px
}

button.nav {
  padding: 10px 15px;
  border-radius: 5px;
  border-color: #bbb;
  margin: 10px;
}
button:hover {
  background-color: #cbffd3;
}

/* Discussion Component */
.discussion {
  border-top: 1px solid #eee;
  padding: 20px;
  margin: 10px 40px;
  text-align: left;
}

.references {
  border-top: 1px solid #eee;
  padding-top: 20px;
  margin: 10px 40px 150px 40px;
  text-align: left;
  list-style: none;
}

/* Animation */
.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*width: 100%;*/
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* Footer */
.footer {
  display: flex;
  flex-flow: row wrap;
  background-color: #20232a;
  color: #ffffff;
  padding: 10px 20px 50px;
  margin-left: auto;
  margin-right: auto
}

/*Footer About Info */
.footer-about {
  order: -1;
  padding-top: 40px;
  display: block !important;
  flex-grow: 1;
}

/* Footer Nav (Links) Box */
.footer-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-grow: 4;
}


/*Footer Link Container */
.footer-nav-container {
  text-align: left;
  padding: 40px 10px;
}

/* Footer Link Header */
.footer-nav-group-header {
  color: #999;
  font-size: 14px;
  font-weight: 700;
  line-height: 3;
  text-transform: uppercase;
  text-align: start;
  letter-spacing: 0.08em;
}

/* Footer Links */
.footer-nav-link {
  line-height: 2;
}
